:root{
  --color-azul-principal: #4132FF;
  
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
/*   background: #ecf0fd; */
  /* background: #E0E4FF; */
  /* background: #e6eaff; */
  /* background: #EEEEFF; */
  
}
.App{
  font-family: 'Poppins', sans-serif;
}
.container-info{
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 15px 3px 15px;
  padding-bottom: .5px;
  border-radius: 5px ;
}
.title{
 /*  background: #004AAD;
  color: white; */
  background: white
  ;
  color: var(--color-azul-principal);
  border: v  1px solid;
  /* border: #cee0f7  1px solid; */
  margin-top: 20px;
  /* padding-top: 5px; */
 /*  padding-right: 10px;
  padding-bottom: 3px; */

  padding: 5px 15px 3px 0px;

  text-align: right;
  border-radius: 10px;
  
}

.info{
  margin: 0px 0px 40px 0px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 5px;
  border: rgb(228, 223, 223) 1px solid ;
 /*  border: #cee0f7 1px solid ; */


}

.info-item{
  padding-top: 10px;
}

/* .title-secction{
  border:1px  rgb(228, 223, 223) solid;
  color: #004AAD;
} */
.title-secction{
  border:1px  rgb(228, 223, 223) solid;
  /* background: #004AAD; */
  border: var(--color-azul-principal) 1px solid;
  background: #E0E4FF;
  /* background: white; */
  color: var(--color-azul-principal);
}
.title-secction{
  border:1px  rgb(228, 223, 223) solid;
  /* background: #004AAD; */
  border: var(--color-azul-principal) 1px solid;
  background: #E0E4FF;
  /* background: white; */
  color: var(--color-azul-principal);
}


.item-box{
  color:red;
  background-color: red;
}