:root{
  
}
.container-fluid, .container{

}
.title{
 /*  background: #004AAD;
  color: white; */
  color: #004AAD;
  border: #004AAD 2px solid;
  margin-top: 30px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 3px;
  text-align: right;
  border-radius: 15px;
}

.info{
  margin-top: 40px ;
}

.title-secction{
  background: red !important;
  color: white;
}
.item-box{
  color:red;
  background-color: red;
}